<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="row">
          <h2 class="tm-block-title">Danh sach sản phẩm</h2>
          <div class="col-md-4">
            <input type="search" placeholder="Tìm kiếm..." id="query">
            <button class="icon" id="findProdducts"
              onclick="location.href='/products?q='+document.getElementById('query').value"><i
                class="fa fa-search"></i></button>
          </div>
           <span class=" price_product col-md-2">
                <select class="form-select" aria-label="Default select example" onchange="location.href='/products?producttype='+this.options[this.selectedIndex].value">
                {{#if product_type}}
                <option value="{{product_type}}" selected hidden>{{product_type}}</option>
                {{/if}}
                <option value="">--Loại sản phẩm--</option>
                {{#each productTypes}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
                </select>
              </span>
        </div>
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Loại sản phẩm</th>
                <th scope="col">Đã bán</th>
                <th scope="col">Tồn kho</th>
                <th scope="col">Ngày nhập</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td class="tm-product-name">{{this.name}}</td>
                <td class="tm-product-name">{{this.product_type}}</td>
                {{#if this.sold}}
                <td>{{this.sold}}</td>
                {{else}}
                <td>0</td>
                {{/if}}
                <td>{{this.inventory}}</td>
                <td>{{this.updateAt}}</td>
                <td>
                  <a href="#" class="tm-product-delete-link" data-id="{{this._id}}" data-toggle="modal"
                    id="btn-delete-product" data-target="#delete-products">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Hien chua co san pham nao
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
         <div div="row">
                {{#if q}}
                <ul class="pagination justify-content-center">
                    {{#if haspreviouspage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}&q={{q}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}&q={{q}}">{{previouspage}}</a>
                        </li>
                    {{/if}}

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentpage}}</a>
                    </li>

                    {{#if hasnextpage}}
                        
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}&q={{q}}">{{nextpage}}</a>
                        </li>
                       <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}&q={{q}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{else}}
                <ul class="pagination justify-content-center">
                    {{#if haspreviouspage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}">{{previouspage}}</a>
                        </li>
                    {{/if}}

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentpage}}</a>
                    </li>

                    {{#if hasnextpage}}
                        
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}">{{nextpage}}</a>
                        </li>
                       <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{/if}}
        </div>
        <!-- table container -->
        <a href="products/addproduct" class="btn btn-primary btn-block text-uppercase mb-3">Thêm sản phẩm</a>
        <button class="btn btn-primary btn-block text-uppercase" data-toggle="modal" data-target="#delete-products">
          Xóa sản phẩm đã chọn
        </button>
        <!-- Modal confirm delete-products -->
        <div class="modal fade" id="delete-products">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Xóa sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                Bạn muốn xóa sản phẩm này ?
              </div>
              <div class="modal-footer">
                <button id="btn-delete-soft-product" type="button" class="btn btn-primary">Xóa</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
              </div>
            </div>
          </div>
        </div>
        <!-- close Model  confirm delete-products -->

      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Phân loại sản phẩm</h2>
        <div class="tm-product-table-container">
          <table class="table tm-table-small tm-product-table">
            {{#each productTypes}}
            <tbody>
              <tr>
                <td class="tm-product-name">{{this.name }}</td>
                <td class="text-center">
                  <a href="productDetail" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            {{/each}}
          </table>
        </div>
        <!-- table container -->
        <a href="products/addproductType">
          <button class="btn btn-primary btn-block text-uppercase mb-3">
            Thêm loại san phẩm mới
          </button>
        </a>
        <div>
          <a href="products/productsTrash">
            <button class="btn btn-primary btn-block text-uppercase mb-3">
              Thung rac
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<form name="delete-soft-product-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var deleteSoftForm = document.forms['delete-soft-product-form'];
    var productId;
    var btnDeleteSoftProduct = document.getElementById('btn-delete-soft-product');
    //when dialog confirm clicked
    $('#delete-products').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      productId = button.data('id');

    });
    //When delete soft product btn clicked
    btnDeleteSoftProduct.onclick = function () {
      deleteSoftForm.action = '/products/' + productId + '?_method=DELETE';
      deleteSoftForm.submit();
    }
  });
</script>