<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <h3 style="color:coral">Danh sach san pham</h3>
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Đã bán</th>
                <th scope="col">Tồn kho</th>
                <th scope="col">Ngày nhập</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td class="tm-product-name">{{this.name}}</td>
                <td>0</td>
                <td>{{this.inventory}}</td>
                <td>{{this.updateAt}}</td>
                <td>
                  <a href="#" class="tm-product-delete-link" data-id="{{this._id}}" data-toggle="modal"
                    id="btn-delete-product" data-target="#delete-products">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Hien chua co san pham nao
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <a href="products/addproduct" class="btn btn-primary btn-block text-uppercase mb-3">Thêm sản phẩm</a>
        <button class="btn btn-primary btn-block text-uppercase" data-toggle="modal" data-target="#delete-products">
          Xóa sản phẩm đã chọn
        </button>
        <!-- Modal confirm delete-products -->
        <div class="modal fade" id="delete-products">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Xóa sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                Bạn muốn xóa sản phẩm này ?
              </div>
              <div class="modal-footer">
                <button id="btn-delete-soft-product" type="button" class="btn btn-primary">Xóa</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
              </div>
            </div>
          </div>
        </div>
        <!-- close Model  confirm delete-products -->

      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Phân loại sản phẩm</h2>
        <div class="tm-product-table-container">
          <table class="table tm-table-small tm-product-table">
            <tbody>
              <tr>
                <td class="tm-product-name">Laptop Acer</td>
                <td class="text-center">
                  <a href="productDetail" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Laptop Dell</td>
                <td class="text-center">
                  <a href="productDetail" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
          Thêm loại phẩm mới
        </button>
        <div>
          <a href="products/productsTrash">
            <button class="btn btn-primary btn-block text-uppercase mb-3">
              Thung rac
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<form name="delete-soft-product-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var deleteSoftForm = document.forms['delete-soft-product-form'];
    var productId;
    var btnDeleteSoftProduct = document.getElementById('btn-delete-soft-product');
    //when dialog confirm clicked
    $('#delete-products').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      productId = button.data('id');

    });
    //When delete soft product btn clicked
    btnDeleteSoftProduct.onclick = function () {
      deleteSoftForm.action = '/products/' + productId + '?_method=DELETE';
      deleteSoftForm.submit();
    }
  });
</script>